@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    transition: all .2s cubic-bezier(.37, 1.14, .26, 1.24);
}

:root {
    --blue-color: #2980b9;
}

::selection {
    background-color: #ff3300;
    color: #fff;
}

/* ----  utility class start here---------- */

.flex {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}


.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.padding {
    padding: 20px 1rem;
}

.btn {
    padding: 10px 2rem;
    color: #fff;
    background-color: var(--blue-color);
    cursor: pointer;
    outline: none;
    margin: 10px 0px;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.btn:hover {
    letter-spacing: 2px;
}

.grid {
    display: grid;
}

.grid-col-3 {
    grid-template-columns: repeat(auto-fill, 350px);
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-4{
    grid-template-columns: repeat(4, 1fr);
}

.grid-center {
    justify-content: center;
    align-items: center;
}

/* ----  utility class end here---------- */

.search-bar {
    background-color: #fff;
}

.search-bar .logo i {
    color: var(--blue-color);
    font-size: 1.5rem;
}

.search-bar .logo span {
    color: #666;
    font-size: 1.2rem;
}

.search {
    max-width: 350px;
    width: 100%;
}

.search input {
    width: 100%;
    padding: 6px;
    border: 2px solid #666;
    font-size: 15px;
    outline: none;
    color: #000;
    border-radius: 1px;
}

.search input:focus {
    border-color: var(--blue-color);
}

.search label {
    padding: 0px 7px;
    background-color: var(--blue-color);
    color: #fff;
    height: 34px;
    line-height: 36px;
    font-size: 21px;
    cursor: pointer;
}

.search label:hover i {
    color: rgb(240, 240, 21);
}

.navbar {
    background-color: var(--blue-color);
    position: relative;
}

.navbar.active {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .menu-list li a {
    color: #fff;
}

.navbar .menu-list li.active a {
    color: rgb(240, 240, 21);
}

.navbar .menu-list li a:hover {
    color: rgb(240, 240, 21);
}

.navbar .icons i {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .icons i:hover {
    color: rgb(240, 240, 21);
}

.bar {
    display: none;
}

.bar i {
    font-size: 2.1rem;
    color: #fff;
    cursor: pointer;
}

/* ------------- home-section ------------ */
.home-section {
    height: 80vh;
}

.home-section .slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/home_img1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/home_img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/home_img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/home_img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    height: 100% !important;
    position: relative;
}

.slide-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5rem;
    max-width: 500px;
    width: 100%;
}

.slide-content h1 {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 11px;
    letter-spacing: 2px;
}

.slide-content p {
    color: #fff;
    line-height: 27px;
}

.swiper-button-next::after {
    font-size: 2rem;
    content: "prev";
    color: #fff;
    font-weight: 700;
}

.swiper-button-prev::after {
    font-size: 2rem;
    content: "prev";
    color: #fff;
    font-weight: 700;
}

/* ------- Arrivals ---------- */
.Arrival,
.Gallery {
    padding: 100px 1rem;
}

.line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

.arrival-text {
    position: absolute;
    left: 0;
    top: -45px;
    background-color: var(--blue-color);
    padding: 13px 33px;
    color: #fff;
    border-top-right-radius: 29px;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.arrival-content {
    margin-top: 30px;
}

.arrival-box {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}



.arrival-img {
    width: 100%;
    background-color: #e6e6e6;
    padding: 1rem;
    height: 250px;
    margin: auto;
}

.arrival-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(0.1);
}

.img-name {
    border-bottom: 1px solid #ccc;
    font-size: 1.3rem;
    color: var(--blue-color);
    text-transform: capitalize;
}

.red {
    color: #ff3300;
    font-size: 1.1rem;
    font-weight: 600;
}

.under-line {
    color: #666;
    font-size: .9rem;
    text-decoration: line-through;
}

.header-icons i {
    color: rgb(240, 240, 21);
    cursor: pointer;
    font-size: 1.2rem;
}


/* ------------- featured --------------- */
.featured-product-box {
    background-color: #fff;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
    border-radius: 12px;
}

.featured-imges {
    max-width: 400px;
    width: 100%;
}

.featured-content {
    max-width: 400px;
    width: 100%;
}

.featured-big-img {
    max-width: 300px;
}

.featured-big-img img {
    width: 100%;
}



.featured-small-imges img {
    padding: 10px;
    width: 80px;
    border: 2px solid #666;
    cursor: pointer;
}

.featured-small-imges img.active {
    border-color: #2980b9;
}

.featured-content h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: var(--blue-color);
}

.featured-content .featured-icons {
    color: #666;
    margin-bottom: 10px;
}

.featured-content .featured-icons i {
    color: orange;
    font-size: 1.2rem;
}

.featured-content p {
    font-size: 16px;
    line-height: 27px;
    color: #666;
    margin-bottom: 10px;
}

.featured-content strong {
    color: #ff3300;
}

.featured-content .featured-price span {
    color: #666;
    text-decoration: line-through;
    font-size: 14px;
}

.featured-small-imges {
    flex-flow: column;
}


/* ----------- gallery --------*/
.gallery-box{
    border: 1px solid #ccc;
}
.gallery-buttons{
   flex-wrap: wrap;
   margin: 20px 0px;
}
.gallery-buttons .btn{
  margin: 3px 10px;
}

.gallery-buttons .btn:hover{  
  letter-spacing:1px;
}

.gallery-buttons .btn.active{
    background-color: #000;
    color: #fff;
}
.grid-col-g{
    grid-template-columns: repeat(3,1fr)
}
.g-l-box{
    background-color: #e6e6e6;
    height: 100%;
}

.g-l-box  .g-img img{
  width: 100px;
  object-fit: contain;
  filter: invert(0.1);
}
.g-r-box{
    flex-flow: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.g-product-name{
    border-bottom: 1px solid #ccc;
    color: var(--blue-color);
    font-size: 1.2rem;
}

.g-product-name,
.g-footer{
    height: 50%;
    padding: 0px 20px;
    width: 100%;
}
.g-footer strong{
    color: #ff3300;
    font-size: 1.2rem;
}

.g-footer i {
   color: orange;
   font-size: 1.2rem;
}

/* ------ deal offer-section ----- */
.offer-section{
    margin: 30px 0px;
}
.offer-box,
.offer-box-1{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./img/deal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    height: 250px;
    flex-flow: column;
    align-items: flex-start;
}

.offer-box h1,
.offer-box-1 h1{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 4px;
    text-shadow: 2px 2px #000;
}

.offer-box p,
.offer-box-1 p{
    color: #fff;
    margin: 6px 0px;
    line-height: 27px;
}

.offer-box-1{
 background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./img/deal2.jpg);;
}


.deal-4-box{
    margin-top: 25px;
}

.deal-box{
    border: 2px solid var(--blue-color);
    flex-flow: column;
}
.deal-box i{
    font-size: 3rem;
    margin: 10px 0px;
    color: var(--blue-color);
}
.deal-box h3{
    font-size: 1.3rem;
    color: #666;
    text-align: center;
    line-height: 30px;
}
.deal-box p{
    margin: 5px 0px;
    text-align: center;
    color: #666;
    font-size: 15px;
    line-height: 25px;
}

.letterNews{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(/img/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    flex-flow: column;
}
.letterNews h1{
    color: #fff;
    font-size: 2.3rem;
    margin: 10px 0px;
    letter-spacing: 1px;
}
.letterNews p{
    color: #fff;
    line-height: 27px;
    text-align: center;
}
.input-box{
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    border-radius: 30px;
    height: 50px;
    margin-top: 10px;
}

.input-box .btn{
    border-radius: 30px;
    margin-right: 5px;
}

.input-box .btn:hover{
    letter-spacing: 1px;
}
.input-box input{
    width: 100%;
    height: 100%;
    flex: 1;
    outline: none;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 1rem;
    background: transparent;
    color: #fff;
}

.footer p{
   text-align: center;
   font-size: 1.2rem;
   color: #666;
   line-height: 27px;
}
.footer p span{
    color: var(--blue-color);
}
@media screen and (max-width:1012px) {
    .grid-col-g{
      grid-template-columns: repeat(2,1fr);
    }
    .grid-col-4{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:900px) {
    .featured-product-box {
        flex-flow: column;

    }

    .featured-content {
        max-width: 736px;
        width: 100%;
        text-align: center;
    }

    .featured-imges {
        flex-flow: column;
    }

    .featured-small-imges {
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .featured-icons{
        justify-content: center;
    }
    .featured-footer{
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:834px) {
    .grid-col-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width:691px) {
    .grid-col-g{
        grid-template-columns: 1fr;
      }
      .grid-col-2{
        grid-template-columns: 1fr;
      }
      .grid-col-4{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:600px) {
    .bar {
        display: block;
    }

    .search-bar {
        flex-flow: column;
    }

    .search-bar .logo {
        margin-bottom: 10px;
    }

    .menu-list {
        position: absolute;
        top: -200%;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(var(--blue-color), blueviolet);
        flex-flow: column;
        align-items: center;
        padding: 20px 1rem;
        max-width: 369px;
        width: 100%;
        border: 1px solid #fff;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
    }

    .menu-list.active {
        top: 117%;
        z-index: 99;
        opacity: 1;
        pointer-events: auto;
    }

    .slide-content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 1rem;
    }

    .swiper-button-next::after {
        display: none;
    }

    .swiper-button-prev::after {
        display: none;
    }
}

@media screen and (max-width:570px) {
    .grid-col-3 {
        grid-template-columns: 1fr;
    }
    .grid-col-4{
        grid-template-columns: 1fr;
    }
}